.grupo-img {
    position: relative;
    width: 100%;
    height: 100vh;
}

.img-fondo {
    background-image: url("../img/home/hacer-surf-pais-vasco-bakio.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
} 

.img-opacity {
     
    background-color: var(--primary) ;
    width: 100%;
    height: 100vh;
    opacity: 0.4;
    float: left;
}

.logo-text {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo2 {
    margin-top: 7vh;
    width: 15%;
}

.logo2 img {
    width: 100%;
}
.texto1 {    
    margin-top: 2rem;
   
}

.texto1 h1 {    
    text-shadow: black 2px 2px 4px;
    color: white;
    font-size: 3rem;
   
}